.breakfast-card {
    height: 660px;
    border-radius: 10px;
}

.breakfast-card img {
    width: 100%;
    padding: 22px 20px;
}

.breakfast-card h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
