.login-title {
    position: relative;
    top: 75px;
    text-align: center;
    color: #fff;
}

.logo-img {
    width: 210px;
    height: auto;
    display: block;
    position: relative;
    margin: 65px auto;
}

.form {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 110px;
}

.food-background {
    background-image: url(../../images/food-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 75px;
}

form label {
    color: #fff;
}

.submit-btn {
    width: 130px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fb4267;
    transition: ease-in-out 0.5s;
    font-size: 18px;
    outline: none;
    margin-right: 20px;
    background-color: #fff;
}

.submit-btn:hover {
    box-shadow: inset 300px 0 0 0 #fb4267;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 0, 68);
}

.google-login {
    text-align: center;
}

.google-icon-img {
    width: 45px;
    height: 30px;
}

.google-icon-img:hover {
    color: #fff;
}

/* button effect 2 */

.google-btn {
    width: 279px;
    height: 55px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
    border: 2px solid rgb(255, 0, 68);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 175px;
    left: 0;
}

.google-btn:hover {
    color: #ffffff;
    cursor: pointer;
}

.google-btn::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    opacity: 0;
    content: "";
    background-color: #fb4267;
}

.google-btn:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}